.button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;

  &:disabled {
    color: lighten($color: lightgray, $amount: 10);
    cursor: default;
  }

  &:disabled:hover {
    svg {
      color: lighten($color: lightgray, $amount: 10);
    }
  }
}
