.header {
  color: white;
  background-color: var(--primary-400);
  position: sticky;
  top: 0;
  z-index: 10;
  min-height: 60px;
}

.innerContainer {
  display: flex;
  justify-content: center;
  min-height: 100%;
}
